body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    font-family: Robot;
    font-size: 14px;
}

/* section 1 */



/* section 2 */

/* section 3 */

/* section 4 */

/* section 5 */