body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31,41,55);
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 5vh;
}

.header-left {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(219, 219, 219);
}

li {
}

.header-right{
    display: flex;
    justify-content: space-evenly;
    gap: 14px;
}

/* SECTION 1 */

.awsm {
    background-color: rgb(31,41,55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 25vh;
}

.awsm-left {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 15vh;
    padding: 5px;
}

.awsm-header {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.awsm-subtext {
    color: rgb(219, 219, 219);
    margin: 5px;
}

.button-signup {
    background-color: rgb(59,129,246);
    color: white;
    border: none;
    font-weight: bold;
    width: 90px;
    height: 25px;
    margin: 5px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.button-signup:hover {
    background-color: rgb(161, 196, 255);
    color: rgb(53, 53, 53);
}


.awsm-right {
    color: rgb(219, 219, 219);
    background-color: rgb(108,116,125);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 15vh;
}

/* SECTION 2 */

.randinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.rand-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin: 15px;

}

.rand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rand-box {
    width: 15vw;
    height: 
}

/* SECTION 3 */

.quote {
    display: flex;
    height: 20vh;
}

/* SECTION 4 */

.calltoaction {
    display: flex;
    height: 20vh;
}

/* FOOTER */

.footer {
    display: flex;
    height: 5vh;
}