body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31,41,55);
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 5vh;
}

.header-left {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(219, 219, 219);
}

/* li {
} */

.header-right{
    display: flex;
    justify-content: space-evenly;
    gap: 14px;
}

/* SECTION 1 */

.awsm {
    background-color: rgb(31,41,55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 25vh;
}

.awsm-left {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 15vh;
    padding: 5px;
}

.awsm-header {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.awsm-subtext {
    color: rgb(219, 219, 219);
    margin: 5px;
}

.button-signup {
    background-color: rgb(59,129,246);
    color: white;
    border: none;
    font-weight: bold;
    width: 90px;
    height: 25px;
    margin: 5px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.button-signup:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}


.awsm-right {
    color: rgb(219, 219, 219);
    background-color: rgb(108,116,125);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 15vh;
}

/* SECTION 2 */

.randinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 30vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: white;
}

.rand-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin: 15px;
}

.rand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.rand-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
}

.rand-box {
    width: 120px;
    height: 120px;
    border: 3px solid rgb(59,129,246);
    border-radius: 8px;
    margin: 3px;
}

.rand-box-text {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 120px;
    margin-top: 5px;
}

/* SECTION 3 */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228,231,235);
    height: 17vh;
    padding-left: 17vw;
    padding-right: 17vw;
}

.quote-text {
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
    margin: 5px;
}

.quote-author {
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    margin: 5px;
}

/* SECTION 4 */

.calltoaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.cat-textbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 8vh;
    background-color: rgb(59,129,246);
    border-radius: 8px;
}

.cat-text {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.cat-subtext {
    font-size: 1em;
    color: rgb(222,227,236);
}

.button-cta {
    background-color: rgb(59,129,246);
    color: white;
    border: 2px solid white;
    font-weight: bold;
    width: 90px;
    height: 25px;
    margin: 5px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.button-cta:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: rgb(31,41,55);
    color: white;
}